* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	margin: 0;
}

.title {
	font-size: 175%;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.row {
	width: 100%;
}

.cars {
	background-color: green;
}

.boats {
	background-color: yellow;
}

.planes {
	background-color: red;
}

.section-title {
	font-size: 125%;
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 0;
	margin-top: -1px;
	margin-right: -1px;
	border: 1px solid black;
	width: 20%;
	text-align: center;
}

.container1,
.container2,
.container3 {
	position: relative;
	border: 1px solid black;
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: hsl(205, 90%, 88%);
}

.dummy-text {
	margin-top: 2rem;
	width: 90%;
}

/***Desktop version***/
@media (min-width: 992px) {
	.desktop-version {
		float: left;
		width: 33.33%;
	}

	/***To make the containers spacing be even***/
	.container1 {
		margin-left: 7.55%;
	}
	.container3 {
		margin-right: 7.55%;
	}
}

/***Tablet version***/
@media (min-width: 768px) and (max-width: 991px) {
	.tablet-version {
		float: left;
		width: 50%;
	}

	.third-section {
		width: 100%;
	}

	.boats-section {
		width: 93.5%;
	}

	/***To make the containers spacing be even***/
	.container1 {
		margin-left: 6.5%;
	}
	.container2 {
		margin-right: 6.5%;
	}
}

/***Mobile version***/
@media (max-width: 767px) {
	.mobile-version {
		float: left;
		width: 100%;
	}
}
