* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.title {
	text-align: center;
}

.row {
	width: 100%;
}
p {
	border: 1px solid black;
	/*background-color*/
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/***Desktop version***/
@media (min-width: 992px) {
	.desktop-version {
		float: left;
		border: 1px solid red;
		width: 33%;
	}

	.row {
		margin-left: 7.68px;
	}
}

/***Tablet version***/
@media (min-width: 768px) and (max-width: 991px) {
	.tablet-version {
		float: left;
		border: 1px solid red;
		width: 50%;
	}

	.third-section {
		width: 100%;
	}

	.row {
		margin: 0;
	}
}

/***Mobile version***/
@media (max-width: 767px) {
	.mobile-version {
		float: left;
		border: 1px solid red;
		width: 100%;
	}
}
